<!doctype html>
<html class="no-js" lang="en-us">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Boiler Plate{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/js/styles.min.js"></script>

</head>
<body>
    <div id="app">
        {% block content %}{% endblock %}
    </div>

    <script src="/js/app.min.js"></script>

</body>
</html>